/.idea/dbnavigator.xml
/TaxiFareModel.egg-info/dependency_links.txt
/.idea/misc.xml
/.idea/modules.xml
/TaxiFareModel.egg-info/PKG-INFO
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/TaxiFareModel.egg-info/requires.txt
/TaxiFareModel.egg-info/SOURCES.txt
/.idea/TFM_PredictInProd.iml
/TaxiFareModel.egg-info/top_level.txt
/.idea/vcs.xml
